@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-family: Roboto;
$font-size: 16px;
$bg-color-crv: #B50014;
$bg-color: #000000f0;
$bg-color-day: #fff;
$text-color-day: #fff;
$text-color-night: #000;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #393939;
}

::-webkit-scrollbar-thumb {
    background: #ababab;
    border-radius: 10px;
}

body {
    padding: 0;
    margin: 0;
    background-color: $bg-color;
    font-family: $font-family;
    color: $text-color-day;
    transition: 0.5s ease-in-out;
}

body.night {
    background-color: $bg-color-day;
    color: #000;

    nav {
        .time {
            background-color: $bg-color-day;
        }
    }
}

nav {
    font-family: $font-family;
    font-size: $font-size;
    background-color: $bg-color-crv;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        height: 100px;

        .logoo {
            top: 0;
            position: relative;
            flex: 1;
            display: flex;
            justify-content: center;
            top: 38px;

            img {
                padding-left: 20px;
                max-width: 180px;
                z-index: 200;
            }

            ul {
                flex: 1;
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: center;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100px;
                max-width: 1000px;

            }

            .vidi {
                margin-top: -5px;
            }

            li {
                display: inline;
                padding: 20px 20px 20px 0px;

                img {
                    padding-left: 0px;
                    padding-right: 2px;
                    vertical-align: -6.5px;
                }

                a {
                    color: $text-color-day;
                    text-wrap: nowrap;
                    text-decoration: none;
                    display: inline-block;
                    transition: 0.15s ease-in-out;
                    max-width: 150px;

                    &:hover {
                        transform: scale(1.06);
                        transition: 0.15s ease-in-out;
                    }
                }
            }
        }
    }

    .toggle_btn {
        display: none;
        cursor: pointer;
    }
}


.time {
    transition: 0.5s ease-in-out;
    background-color: $bg-color;
    text-align: left;
    font-size: 14px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;

    .time-p {
        padding-left: 650px;
        max-width: 500px;
        justify-content: right;
        padding-top: 3px;
        padding-bottom: 3px;

        .da {
            position: relative;

            .dark {
                position: absolute;
                width: 35px;
                height: 17px;
                top: -11px;
                margin-left: -50px;
                color: #fff;
                border: 2px solid #fff;
                border-radius: 20px;
            }

            .dark:before {
                position: absolute;
                content: "";
                width: 15px;
                height: 15px;
                left: 1px;
                top: 1px;
                border-radius: 50%;
                cursor: pointer;
                background-color: #fff;
                transition: 0.4s;
            }

            .dark.active {
                border: 2px solid #000;
            }

            .dark.active:before {
                left: 19px;
                background-color: #000000;
            }
        }

        p {
            margin: 0;
            display: inline-block;
            padding: 2px;
        }

        .bold {
            font-weight: bold;
            padding-left: 3px;
        }

        img {
            margin: 0;
            height: 14px;
            width: 14px;
            vertical-align: middle;
            background-color: #000;
            border-radius: 50%;
        }
    }
}


@media (max-width: 1200px) {
    .popup {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    nav {
        .header {
            .logoo {
                font-size: 14px;
            }
        }

        .time {
            font-size: 13px;

            .time-p {
                padding-left: 630px;
            }
        }
    }
}

@media (max-width: 1100px) {
    nav {
        .header {
            .logoo {
                font-size: 13px;
            }
        }

        .time {
            font-size: 12px;
        }
    }
}

@media (max-width: 1050px) {
    nav {
        .time {
            text-align: left;
            font-size: 14px;
            position: relative;
            z-index: 1;
            display: flex;
            justify-content: right;
            vertical-align: middle;

            .time-p {
                display: flex;
                flex-direction: column;
                text-align: right;
                margin-right: 25px;
                min-width: 1020px;

                .da {
                    position: relative;

                    .dark {
                        position: absolute;
                        width: 30px;
                        height: 15px;
                        top: 5px;
                        margin-left: -110px;
                        color: #fff;
                        border: 2px solid #fff;
                        border-radius: 20px;
                    }

                    .dark:before {
                        position: absolute;
                        content: "";
                        width: 13px;
                        height: 13px;
                        left: 1px;
                        top: 1px;
                        border-radius: 50%;
                        cursor: pointer;
                        background-color: #fff;
                        transition: 0.4s;
                    }

                    .dark.active {
                        border: 2px solid #000;
                    }

                    .dark.active:before {
                        left: 16px;
                        background-color: #000000;
                    }
                }

                p {
                    margin: 0;
                    display: inline-block;
                    padding: 2px;
                }

                .bold {
                    font-weight: bold;
                    padding-left: 3px;
                }

                img {
                    display: none;
                }
            }
        }

        .header {
            max-width: 100%;

            .logoo {
                ul {
                    max-width: 100%;

                    .logo {
                        display: flex;
                        left: 10px;
                        z-index: 100;
                    }

                    .vidi {
                        position: absolute;
                        right: 60px;
                        z-index: 200;
                        display: flex;
                        padding: 0;
                        margin: 0;
                        top: 31px;

                        a {
                            display: block;
                        }
                    }

                    li {
                        display: none;

                        a {
                            display: none;
                        }
                    }
                }
            }

            .toggle_btn {
                display: block;
                color: $text-color-day;
                position: absolute;
                top: 30px;
                right: 30px;
                font-size: 30px;
                z-index: 500;
            }
        }
    }
}

@media (max-width: 600px) {
    nav {
        .header {
            .logoo {
                top: 12px;

                .logo {
                    padding-top: 0px;
                    width: 125px;
                    height: 125px;
                }
            }
        }

        .time {
            font-size: 12px;

            .time-p {
                margin-right: 15px;

                .da {
                    position: relative;

                    .dark {
                        position: absolute;
                        width: 30px;
                        height: 15px;
                        top: 3px;
                    }

                    .dark:before {
                        width: 13px;
                        height: 13px;
                        left: 1px;
                    }

                    .dark.active {
                        border: 2px solid #000;
                    }

                    .dark.active:before {
                        left: 16px;
                        background-color: #000000;
                    }
                }
            }
        }
    }
}