@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body.night {
  background-color: #fff;
  color: #000;
}
body.night .leute {
  color: #000;
}

.empf {
  margin: 0;
  padding-top: 50px;
  color: #6b6a6a;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.leute {
  font-weight: bold;
  font-size: 32px;
  color: #fff;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.comments {
  height: 500px;
  padding-top: 60px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.comments .swiper2 {
  justify-content: center;
  display: flex;
  overflow: visible;
  align-items: center;
}
.comments .swiper2 .swiper-button-prev,
.comments .swiper2 .swiper-button-next {
  position: absolute;
  border-radius: 100%;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  z-index: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.comments .swiper2 .swiper-button-prev.swiper-button-disabled,
.comments .swiper2 .swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.comments .swiper2 .swiper-button-prev.swiper-button-hidden,
.comments .swiper2 .swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .comments .swiper2 .swiper-button-prev,
.swiper-navigation-disabled .comments .swiper2 .swiper-button-next {
  display: none !important;
}
.comments .swiper2 .swiper-button-prev {
  left: -6%;
}
.comments .swiper2 .swiper-button-next {
  right: -6%;
}
.comments .swiper2 .swiper-button-lock {
  display: none;
}
.comments .swiper2 .swiper-button-prev:after,
.comments .swiper2 .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 15px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.comments .swiper2 .swiper-button-prev:after {
  content: "prev";
  margin-right: 2px;
}
.comments .swiper2 .swiper-button-next:after {
  content: "next";
  margin-left: 2px;
}
.comments .swiper2 .swiper-wrapper {
  height: 100%;
  display: flex;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.comments .swiper2 .swiper-wrapper .swiper-slide .comment3,
.comments .swiper2 .swiper-wrapper .swiper-slide .comment2 {
  display: none;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active {
  width: 400px !important;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 {
  transition: 0.3s ease-in-out;
  flex: 1;
  text-align: center;
  background-color: #3b3b3b;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 400px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .iznad,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .iznad,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .iznad {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .iznad .grillkurs,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .iznad .grillkurs,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .iznad .grillkurs {
  display: flex;
  max-width: 70px;
  z-index: 50;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .iznad .stars,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .iznad .stars,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .iznad .stars {
  padding-top: 10px;
  display: flex;
  max-width: 70px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .comment_name,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .comment_name,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .comment_name {
  margin-top: 25px;
  margin-bottom: 0px;
  font-weight: bold;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .comment_name3,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .comment_name3,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .comment_name3 {
  margin-top: 5px;
  margin-bottom: 0px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .comment_name2,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .comment_name2,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .comment_name2 {
  font-weight: bold;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 p,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 p,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 p {
  margin-top: 30px;
  color: #fff;
  max-width: 340px;
  font-weight: lighter;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .znak,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .znak,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .znak {
  display: flex;
  position: absolute;
  bottom: -20px;
  right: 10px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 300px;
  height: auto;
  opacity: 0.6;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment1,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment3,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment2 {
  transition: 0.3s ease-in-out;
  flex: 1;
  text-align: center;
  height: 300px;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 320px;
  margin-left: 10px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment1 .iznad,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment3 .iznad,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment2 .iznad {
  display: none;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment1 .comment_name,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment3 .comment_name,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment2 .comment_name {
  margin-top: 25px;
  margin-bottom: 0px;
  font-weight: lighter;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment1 .comment_name3,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment3 .comment_name3,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment2 .comment_name3 {
  margin-top: 5px;
  margin-bottom: 0px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment1 p,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment3 p,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment2 p {
  font-size: 10px;
  margin-top: 25px;
  color: #fff;
  max-width: 65%;
  font-weight: lighter;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment1 .znak,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment3 .znak,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-next .comment2 .znak {
  display: none;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 300px;
  height: auto;
  opacity: 0.6;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment1,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment3,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment2 {
  transition: 0.3s ease-in-out;
  flex: 1;
  text-align: center;
  height: 300px;
  background-color: #3b3b3b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 320px;
  margin-right: 10px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment1 .iznad,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment3 .iznad,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment2 .iznad {
  display: none;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment1 .comment_name,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment3 .comment_name,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment2 .comment_name {
  margin-top: 25px;
  margin-bottom: 0px;
  font-weight: lighter;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment1 .comment_name3,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment3 .comment_name3,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment2 .comment_name3 {
  margin-top: 5px;
  margin-bottom: 0px;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment1 p,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment3 p,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment2 p {
  font-size: 10px;
  margin-top: 25px;
  color: #fff;
  max-width: 70%;
  font-weight: lighter;
}
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment1 .znak,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment3 .znak,
.comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-prev .comment2 .znak {
  display: none;
}
.comments .swiper2 .swiper-wrapper .swiper-button-prev,
.comments .swiper2 .swiper-wrapper .swiper-button-next {
  position: absolute;
  border-radius: 100%;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  z-index: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.comments .swiper2 .swiper-wrapper .swiper-button-prev.swiper-button-disabled,
.comments .swiper2 .swiper-wrapper .swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.comments .swiper2 .swiper-wrapper .swiper-button-prev.swiper-button-hidden,
.comments .swiper2 .swiper-wrapper .swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .comments .swiper2 .swiper-wrapper .swiper-button-prev,
.swiper-navigation-disabled .comments .swiper2 .swiper-wrapper .swiper-button-next {
  display: none !important;
}
.comments .swiper2 .swiper-wrapper .swiper-button-prev {
  left: 42%;
  top: 93%;
}
.comments .swiper2 .swiper-wrapper .swiper-button-next {
  right: 42%;
  top: 93%;
}
.comments .swiper2 .swiper-wrapper .swiper-button-lock {
  display: none;
}
.comments .swiper2 .swiper-wrapper .swiper-button-prev:after,
.comments .swiper2 .swiper-wrapper .swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 15px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.comments .swiper2 .swiper-wrapper .swiper-button-prev:after {
  content: "prev";
  margin-right: 2px;
}
.comments .swiper2 .swiper-wrapper .swiper-button-next:after {
  content: "next";
  margin-left: 2px;
}

.alle {
  margin: 80px auto 50px auto;
  background-color: #B50014;
  color: #fff;
  width: 160px;
  height: 45px;
  border-radius: 25px;
  border: 1px solid white;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.alle p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: 0.15s ease-in-out;
}
.alle p:hover {
  transform: scale(1.07);
  transition: 0.15s ease-in-out;
}

@media (max-width: 1050px) {
  .comments {
    height: 550px;
    padding-top: 60px;
    max-width: 400px;
    margin: 0 auto;
  }
  .comments .swiper2 {
    justify-content: center;
    display: flex;
  }
  .comments .swiper2 .swiper-button-prev,
  .comments .swiper2 .swiper-button-next {
    border: 3px solid white;
    width: 45px;
    height: 45px;
  }
  .comments .swiper2 .swiper-button-prev.swiper-button-disabled,
  .comments .swiper2 .swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  .comments .swiper2 .swiper-button-prev.swiper-button-hidden,
  .comments .swiper2 .swiper-button-next.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }
  .swiper-navigation-disabled .comments .swiper2 .swiper-button-prev,
  .swiper-navigation-disabled .comments .swiper2 .swiper-button-next {
    display: none !important;
  }
  .comments .swiper2 .swiper-button-prev {
    left: 34%;
    top: 240px;
  }
  .comments .swiper2 .swiper-button-next {
    right: 34%;
    top: 240px;
  }
  .comments .swiper2 .swiper-button-lock {
    display: none;
  }
  .comments .swiper2 .swiper-button-prev:after,
  .comments .swiper2 .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 35px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
  }
  .comments .swiper2 .swiper-button-prev:after {
    content: "prev";
    margin-right: 6px;
  }
  .comments .swiper2 .swiper-button-next:after {
    content: "next";
    margin-left: 6px;
  }
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment1,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment2,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment3 {
    flex: 1;
    text-align: center;
    height: 380px;
    background-color: #3b3b3b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
  }
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment1 .iznad,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment2 .iznad,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment3 .iznad {
    position: absolute;
    flex: 1;
    top: 0;
    padding-bottom: 20px;
  }
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment1 .iznad .grillkurs,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment2 .iznad .grillkurs,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment3 .iznad .grillkurs {
    display: flex;
    max-width: 70px;
    z-index: 50;
  }
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment1 .iznad .stars,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment2 .iznad .stars,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment3 .iznad .stars {
    padding-top: 10px;
  }
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment1 p,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment2 p,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment3 p {
    color: #fff;
    max-width: 320px;
  }
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment1 .znak,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment2 .znak,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-visible.swiper-slide-active .comment3 .znak {
    opacity: 0;
  }
}
@media (max-width: 920px) {
  .leute {
    font-size: 25px;
    margin: 0 auto;
    max-width: 300px;
  }
  .comments {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .comments {
    max-width: 320px;
  }
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 p,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 p,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 p {
    margin-top: 20px;
    max-width: 300px;
  }
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .comment_name2,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .comment_name2,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .comment_name2 {
    margin-top: 20px;
  }
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment1 .znak,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment2 .znak,
  .comments .swiper2 .swiper-wrapper .swiper-slide.swiper-slide-active .comment3 .znak {
    display: flex;
    position: absolute;
    bottom: -20px;
    right: 40px;
  }
}