@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font-family: Roboto;
$font-size: 16px;
$bg-color-crv: #B50014;
$bg-color: #000000f0;
$bg-color-day: #fff;
$text-color-day: #fff;
$text-color-night: #000;

body.night {
    background-color: $bg-color-day;
    color: $text-color-night;

    .comments {
        .swiper2 {
            .swiper-button-prev,
            .swiper-button-next {
                color: $text-color-night;
                border: 1px solid $text-color-night;
                background-color: $bg-color-day;
                &:after {
                    font-weight: bold;
                }
            }
            .swiper-button-next{
                box-shadow: 1px 0 1px 3px rgba(255, 255, 255, 1);
            }

            .swiper-button-prev{
                box-shadow: -1px 0 1px 3px rgba(255, 255, 255, 1);
            }
        }
    }

    .leute {
        color: $text-color-night;
    }

    @media (max-width: 1050px) {
        .comments {
            .swiper2 {
                .swiper-button-prev,
                .swiper-button-next {
                    border: 4px solid $text-color-night;
                }
            }
        }
    }
}

.empf {
    margin: 0;
    padding-top: 80px;
    color: #6b6a6a;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.leute {
    font-weight: bold;
    font-size: 32px;
    color: $text-color-day;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

.comments {
    height: 500px;
    padding-top: 60px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .swiper2 {
        justify-content: center;
        display: flex;
        overflow: visible;
        align-items: center;

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            border-radius: 100%;
            border: 1px solid $text-color-day;
            width: 20px;
            height: 20px;
            z-index: 100;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $text-color-day;
            background-color: rgba(0, 0, 0, 0.7);

            &.swiper-button-disabled {
                opacity: 0.35;
                cursor: auto;
                pointer-events: none;
            }

            &.swiper-button-hidden {
                opacity: 0;
                cursor: auto;
                pointer-events: none;
            }

            .swiper-navigation-disabled & {
                display: none !important;
            }
        }

        .swiper-button-prev {
            left: -6%;
            box-shadow: -1px 0 1px 3px rgba(0, 0, 0, 1);
        }

        .swiper-button-next {
            right: -6%;
            box-shadow: 1px 0 1px 3px rgba(0, 0, 0, 1);
        }

        .swiper-button-lock {
            display: none;
        }

        .swiper-button-prev,
        .swiper-button-next {
            &:after {
                font-family: swiper-icons;
                font-size: 15px;
                text-transform: none !important;
                letter-spacing: 0;
                font-variant: initial;
                line-height: 1;
            }
        }

        .swiper-button-prev {
            &:after {
                content: 'prev';
                margin-right: 2px;
            }
        }

        .swiper-button-next {
            &:after {
                content: 'next';
                margin-left: 2px;
            }
        }

        .swiper-wrapper {
            height: 100%;
            display: flex;
            width: 400px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            position: relative;

            .swiper-slide {

                .comment3,
                .comment2 {
                    display: none;
                }
            }

            .swiper-slide.swiper-slide-active {
                width: 400px !important;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                .comment1,
                .comment3,
                .comment2 {
                    transition: 0.3s ease-in-out;

                    .iznad {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-top: 30px;

                        .grillkurs {
                            display: flex;
                            max-width: 70px;
                            z-index: 50;
                        }

                        .stars {
                            padding-top: 10px;
                            display: flex;
                            max-width: 70px;
                        }
                    }

                    flex: 1;
                    text-align: center;
                    background-color: #3b3b3b;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    height: 400px;

                    .comment_name {
                        margin-top: 25px;
                        margin-bottom: 0px;
                        font-weight: bold;
                    }

                    .comment_name3 {
                        margin-top: 5px;
                        margin-bottom: 0px;
                    }

                    .comment_name2 {
                        font-weight: bold;
                    }

                    p {
                        margin-top: 30px;
                        color: $text-color-day;
                        max-width: 340px;
                        font-weight: lighter;
                    }

                    .znak {
                        display: flex;
                        position: absolute;
                        bottom: -20px;
                        right: 10px;
                    }
                }
            }

            .swiper-slide.swiper-slide-next {
                display: flex;
                justify-content: left;
                align-items: center;
                margin-top: auto;
                margin-bottom: auto;
                width: 300px;
                height: auto;
                opacity: 0.6;

                .comment1,
                .comment3,
                .comment2 {
                    transition: 0.3s ease-in-out;
                    flex: 1;
                    text-align: center;
                    height: 300px;
                    background-color: #3b3b3b;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 320px;
                    margin-left: 10px;

                    .iznad {
                        display: none;
                    }

                    .comment_name {
                        margin-top: 25px;
                        margin-bottom: 0px;
                        font-weight: lighter;
                    }

                    .comment_name3 {
                        margin-top: 5px;
                        margin-bottom: 0px;
                    }

                    p {
                        font-size: 10px;
                        margin-top: 25px;
                        color: $text-color-day;
                        max-width: 65%;
                        font-weight: lighter;
                    }

                    .znak {
                        display: none;
                    }
                }
            }

            .swiper-slide.swiper-slide-prev {
                display: flex;
                justify-content: right;
                align-items: center;
                margin-top: auto;
                margin-bottom: auto;
                width: 300px;
                height: auto;
                opacity: 0.6;

                .comment1,
                .comment3,
                .comment2 {
                    transition: 0.3s ease-in-out;

                    .iznad {
                        display: none;
                    }

                    flex: 1;
                    text-align: center;
                    height: 300px;
                    background-color: #3b3b3b;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    width: 320px;
                    margin-right: 10px;

                    .comment_name {
                        margin-top: 25px;
                        margin-bottom: 0px;
                        font-weight: lighter;
                    }

                    .comment_name3 {
                        margin-top: 5px;
                        margin-bottom: 0px;
                    }

                    p {
                        font-size: 10px;
                        margin-top: 25px;
                        color: $text-color-day;
                        max-width: 70%;
                        font-weight: lighter;
                    }

                    .znak {
                        display: none;
                    }
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                position: absolute;
                border-radius: 100%;
                border: 1px solid white;
                width: 20px;
                height: 20px;
                z-index: 100;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;


                &.swiper-button-disabled {
                    opacity: 0.35;
                    cursor: auto;
                    pointer-events: none;
                }

                &.swiper-button-hidden {
                    opacity: 0;
                    cursor: auto;
                    pointer-events: none;
                }

                .swiper-navigation-disabled & {
                    display: none !important;
                }
            }

            .swiper-button-prev {
                left: 42%;
                top: 93%;
            }

            .swiper-button-next {
                right: 42%;
                top: 93%;
            }

            .swiper-button-lock {
                display: none;
            }

            .swiper-button-prev,
            .swiper-button-next {
                &:after {
                    font-family: swiper-icons;
                    font-size: 15px;
                    text-transform: none !important;
                    letter-spacing: 0;
                    font-variant: initial;
                    line-height: 1;
                }
            }

            .swiper-button-prev {
                &:after {
                    content: 'prev';
                    margin-right: 2px;
                }
            }

            .swiper-button-next {
                &:after {
                    content: 'next';
                    margin-left: 2px;
                }
            }
        }
    }
}

.alle {
    margin: 80px auto 50px auto;
    background-color: $bg-color-crv;
    color: $text-color-day;
    width: 160px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid white;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        transition: 0.15s ease-in-out;

        &:hover {
            transform: scale(1.07);
            transition: 0.15s ease-in-out;
        }
    }
}

@media (max-width: 1050px) {
    .comments {
        height: 580px;
        padding-top: 60px;
        max-width: 400px;
        margin: 0 auto;

        .swiper2 {
            justify-content: center;
            display: flex;

            .swiper-button-prev,
            .swiper-button-next {
                width: 50px;
                height: 50px;
                color: $text-color-day;
                border: 3px solid $text-color-day;
                background-color: #00000000;

                &.swiper-button-disabled {
                    opacity: 0.35;
                    cursor: auto;
                    pointer-events: none;
                }

                &.swiper-button-hidden {
                    opacity: 0;
                    cursor: auto;
                    pointer-events: none;
                }

                .swiper-navigation-disabled & {
                    display: none !important;
                }
            }

            .swiper-button-prev {
                left: 31%;
                top: 255px;
                box-shadow: -1px 0 1px 3px rgba(255, 255, 255, 0);
            }

            .swiper-button-next {
                right: 31%;
                top: 255px;
                box-shadow: 1px 0 1px 3px rgba(255, 255, 255, 0);

            }

            .swiper-button-lock {
                display: none;
            }

            .swiper-button-prev,
            .swiper-button-next {
                &:after {
                    font-family: swiper-icons;
                    font-size: 35px;
                    text-transform: none !important;
                    letter-spacing: 0;
                    font-variant: initial;
                    line-height: 1;
                }
            }

            .swiper-button-prev {
                &:after {
                    content: 'prev';
                    margin-right: 6px;
                }
            }

            .swiper-button-next {
                &:after {
                    content: 'next';
                    margin-left: 6px;
                }
            }

            .swiper-wrapper {
                .swiper-slide.swiper-slide-visible.swiper-slide-active {

                    .comment1,
                    .comment2,
                    .comment3 {

                        flex: 1;
                        text-align: center;
                        height: 380px;
                        background-color: #3b3b3b;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        margin-top: auto;
                        margin-bottom: auto;
                        position: relative;

                        .iznad {
                            position: absolute;
                            flex: 1;
                            top: 0;
                            padding-bottom: 20px;

                            .grillkurs {
                                display: flex;
                                max-width: 70px;
                                z-index: 50;
                            }

                            .stars {
                                padding-top: 10px;
                            }
                        }

                        p {
                            color: $text-color-day;
                            max-width: 320px;
                        }

                        .znak {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 920px) {
    .leute {
        font-size: 25px;
        margin: 0 auto;
        max-width: 250px;
    }

    .comments {
        padding-top: 0px;
    }
}

@media (max-width: 500px) {
    .comments {
        max-width: 320px;

        .swiper2 {
            .swiper-wrapper {
                .swiper-slide.swiper-slide-active {

                    .comment1,
                    .comment2,
                    .comment3 {
                        p {
                            margin-top: 20px;
                            max-width: 300px;
                        }

                        .comment_name2 {
                            margin-top: 20px;
                        }

                        .znak {
                            display: flex;
                            position: absolute;
                            bottom: -20px;
                            right: 40px;
                        }
                    }
                }
            }
        }
    }
}